# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/
backend/generated/

# Next.js
frontend/.next/
frontend/out/

# Environment variables
.env
.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# TypeScript
*.tsbuildinfo